---
apiVersion: wa8s.reconciler.io/v1alpha1
kind: ConfigStore
metadata:
  name: services-webhook-config
spec:
  values:
  - name: host
    # TODO parameterize
    value: webhook-service.wa8s-system.svc.cluster.local
  - name: scheme
    # TODO use https with a custom ca
    value: http

---
apiVersion: wa8s.reconciler.io/v1alpha1
kind: Composition
metadata:
  name: services-credential-admin
spec:
  dependencies:
  - component: componentized:services-credential-admin
    oci:
      image: ghcr.io/componentized/services/webhook-credential-admin:v0.0.4@sha256:913d1fa5faf1a81f0df9ed63b997687179984d7781fb1af1ea2fc4288ba6f101
  - component: componentized:webhook-config
    ref:
      kind: ConfigStore
      name: services-webhook-config

---
apiVersion: wa8s.reconciler.io/v1alpha1
kind: ClusterComponent
metadata:
  name: wa8s-services-credential-admin
spec:
  ref:
    kind: Composition
    # TODO set namespace via kustomize
    namespace: wa8s-system
    name: services-credential-admin

---
apiVersion: wa8s.reconciler.io/v1alpha1
kind: Composition
metadata:
  name: services-credential-store
spec:
  dependencies:
  - component: componentized:services-credential-store
    oci:
      image: ghcr.io/componentized/services/webhook-credential-store:v0.0.4@sha256:4572597d475693a64ee588bf9db94b05fe3cf98105a06f034d96895795a12a2b
  - component: componentized:webhook-config
    ref:
      kind: ConfigStore
      name: services-webhook-config

---
apiVersion: wa8s.reconciler.io/v1alpha1
kind: ClusterComponent
metadata:
  name: wa8s-services-credential-store
spec:
  ref:
    kind: Composition
    # TODO set namespace via kustomize
    namespace: wa8s-system
    name: services-credential-store

---
apiVersion: wa8s.reconciler.io/v1alpha1
kind: ClusterComponent
metadata:
  name: wa8s-services-credential-config
spec:
  oci:
    image: ghcr.io/componentized/services/credential-config:v0.0.4@sha256:7c79f9e94cdb5b5801d3c1ee666d61a67fd4728383d669f65cbd513cf1b7baee
    serviceAccountRef:
      # TODO set namespace via kustomize
      namespace: wa8s-system
      name: default

---
apiVersion: wa8s.reconciler.io/v1alpha1
kind: ClusterComponent
metadata:
  name: wa8s-services-lifecycle-host-http
spec:
  oci:
    image: ghcr.io/componentized/services/lifecycle-host-http:v0.0.4@sha256:29441b4ce3b4c856991a164098e30bf1df32f279c2ef5bc40a9cf4d6b3688ef0
    serviceAccountRef:
      # TODO set namespace via kustomize
      namespace: wa8s-system
      name: default

---
apiVersion: wa8s.reconciler.io/v1alpha1
kind: ClusterComponent
metadata:
  name: wa8s-services-logging
spec:
  oci:
    image: ghcr.io/componentized/logging/to-stdout:v0.2.1@sha256:27ea8e5600ba2a8458925e5505077a925caf3d84528f474a3d24e3ab2dfcbe31
    serviceAccountRef:
      # TODO set namespace via kustomize
      namespace: wa8s-system
      name: default
